*{
    padding: 0;
    margin: 0;
    background-color: black;
    
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-left: 30%;
    margin-top: 10%;
    font-size: 35px;
}
span{
    color: crimson;
}
.first-link{
    border: 1px solid white;
    margin-left: 270px;
    background-color: gold;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px;
    margin-top:-500px;
}
.words{
    background-color: darkgrey;
    color: black;
    font-size: 20px;
    text-align: left;
    margin-top: 40px;
    width: 40%;
    margin-left: 10px;
}
.fill{
    margin-left: 200px;
    margin-top: 40px;
}
.fills{
    padding: 20px;
    background-color: antiquewhite;
    font-size: 18px;
    margin-left: -195px;
    background-color: goldenrod;
}
.fillse{
    padding: 20px;
    background-color: antiquewhite;
    font-size: 18px;
    border-radius: 10px;
}
.wordsone{
    margin-left: 20px;
    margin-top: 60px;
    color: white;
    font-size: 30px;
}
.another-link{
    border-radius: 10px;
    padding: 5px 7px;
    background-color: gold;
    margin-left: 30px;
    margin-top: 90px;
    font-size: 23px;
    text-decoration: none;
    color: white;
}
.linking{
    margin-left: 280px;
    margin-top: 150px;
    background-color: darkgrey;
    padding-top: 20px;
    border-radius: 15px;
    width: 35%;
    height: 12VH;
}
.wordstwo{
    background-color: darkgrey;
    margin-top: -15px;
    margin-left: 20PX;
    width: 80%;
    font-size: 20px;
}
.flash-cards{
    border-radius: 7px;
    height: 50vh;
}
.wordstwos{
    background-color: darkgrey;
    margin-top: -15px;
    margin-left: 20PX;
    width: 80%;
    font-size: 20px;
}
.linkings{
    margin-left:260px;
    margin-top: 160px;
    background-color: darkgrey;
    padding-top: 20px;
    border-radius: 15px;
    width: 35%;
    height: 12VH;
}
.another-links{
    border-radius: 10px;
    padding: 5px 7px;
    background-color: gold;
    margin-left: 30px;
    margin-top: 90px;
    font-size: 23px;
    text-decoration: none;
    color: white;
}
.last-part{
    margin-top: -60px;
    width: 50%;
    margin-left: 180px;
}
.buttontee{
    background-color: gold;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px; 
    border-radius: 30px;
    transition: .4s;
    margin: 20%;
    margin-bottom: 50%;
}
.buttontee:hover{
    background-color: transparent;
    border: 2px solid gold;
    cursor: pointer;
}
.container{
    width: 90%;
    margin-left: 90px;
    margin-top: 50px;
    height: 70vh;
}
.swiper{
    width: 100%;
    height: fit-content;
}
.swiper-slide img{
    width:100%;
}
nav{
    width: 100%;
    height: 30px;
}
ul {
    margin-left: 20px;
}
ul li{
    list-style: none;
    display: inline-block;
    float:left;
    line-height: 30px;
}
ul li a{
    text-decoration: none;
    font-size: 15px;
    color: bisque;
    padding: 0 20px;
    display: block;
}
.first-images{
    width: 100px;
    margin-left: 10px;
    margin-top: -80px;
}
.pngss{
    width: 100px;
    margin-left: 120px;
    margin-top: 50px;
}
.pngse{
    width: 100px;
    margin-left: 120px;
    margin-top: 100px;

}
.pngsh{
    width: 100px;
    margin-left: 120px;
    margin-top: 130px;
}
.my-images{
    width: 210px;
    margin-left: 80px;
}
.writtings{
    color: white; 
    margin-left: 130px;
    font-size: 25px; 
}
.groups{
    color: white;
    margin-left: 20px;
}
.happening{
    color:whitesmoke; 
    margin-left: 50px;
}
.love{
    color: white;
}
.hear{
    color: white;
    font-size: 15px; 
    margin-left: 100px; 
    text-decoration: underline;
}
.hears{
    color: white; 
    margin-left: 80px;
}
.aboutus{
    color: aliceblue;
    font-size: 20px;
    margin-left: 30px;
    margin-top: -10px;
}
.aboutusone{
    color: aliceblue;
    font-size: 20px;
    margin-top: 10px;
}
.anchor{
    margin-left: 30px; 
    text-decoration: none; 
    color: rgb(85, 70, 70);
    font-size: 29px;
}
.anchors{ 
    text-decoration: none; 
    color: rgb(85, 70, 70);
    font-size: 29px;
}
.last-part{
        margin-top: -100px;
        width: 50%;
        margin-left: 330px;
}
@media only screen and (min-width: 768px) {
    .first-images{
        width: 150px;
        margin-left: 15px;
        margin-top: -80px;
    }
    .Headingone{
        font-size: 60px;
    }
    ul li a{
        text-decoration: none;
        font-size: 35px;
        color: bisque;
        padding: 0 20px;
        display: block;
    }
    ul {
        margin-left: 100px;
        margin-top: 20px;
    }
    .container{
        width: 90%;
        margin-left: 40px;
        margin-top: 80px;
        height: 70vh;
    }
    .fill{
        margin-left: 240px;
        margin-top: 40px;
    }
    .fills{
        padding: 20px;
        background-color: antiquewhite;
        font-size: 18px;
        margin-left: -195px;
        background-color: goldenrod;
    }
    .fillse{
        padding: 20px;
        background-color: antiquewhite;
        font-size: 18px;
        border-radius: 10px;
    }
    .words{
        background-color: darkgrey;
        color: black;
        font-size: 30px;
    }
    .up{
        margin-top: -50px;
    }
    .wordsone{
        margin-left: 60px;
        margin-top: 20px;
        font-size: 40px;
    }
    .wordstwo{
        background-color: darkgrey;
        margin-top: -15px;
        margin-left: 20PX;
        width: 80%;
        font-size: 35px;
    }
    .linking{
        margin-left: 450px;
        margin-top: -70px;
        background-color: darkgrey;
        width: 15%;
        padding-top: 30px;
        border-radius: 15px;
        width: 30%;
        height: 16VH;
    }
    .another-link{
        border: 1px solid white;
        border-radius: 10px;
        padding: 11px 13px;
        background-color: gold;
        margin-left: 40px;
        margin-top: -30px;
        width: 5%;
        font-size: 35px;
        text-decoration: none;
        color: white;
    }
    .flash-cards{
        border-radius: 7px;
        height: 50vh;
        width: 50%;
        margin-left: 80px;
    }
    .pngss{
        width: 150px;
        margin-left: 120px;
        margin-top: 10px;
    }
    .pngse{
        width: 150px;
        margin-left: 120px;
        margin-top: 500px;    
    }
    .pngsh{
        width: 150px;
        margin-left: 120px;
        margin-top: 1000px;
    }
    .my-images{
        width: 330px;
    }
    .writtings{
        color: white; 
        margin-left: 130px;
        font-size: 40px; 
    
    }
    .happening{
        color:whitesmoke; 
        margin-left: 160px;
        font-size: 30px;margin-top: 80px;
    }
    .groups{
        color: white;
        font-size: 30px;
        margin-left: 80px;
    }
    .buttontee{
        background-color: gold;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 15px 30px; 
        border-radius: 30px;
        transition: .4s;
        margin: 20%;
        margin-bottom: 50%;
        font-size: 25px;
    }
    .wordstwos{
        background-color: darkgrey;
        margin-top: -15px;
        margin-left: 20PX;
        width: 80%;
        font-size: 35px;
    }
    .linkings{
        margin-left: 450px;
        margin-top: 1400px;
        background-color: darkgrey;
        width: 15%;
        padding-top: 30px;
        border-radius: 15px;
        width: 30%;
        height: 16VH;
    }
    .another-links{
        border: 1px solid white;
        border-radius: 10px;
        padding: 11px 13px;
        background-color: gold;
        margin-left: 40px;
        margin-top: -30px;
        width: 5%;
        font-size: 35px;
        text-decoration: none;
        color: white;
    }
    .love{
        color: white;
        font-size: 40px;
        margin-top: 100px;
    }
    .hear{
        color: white;
        font-size: 25px; 
        margin-left: 250px; 
        text-decoration: underline;
    }
    .hears{
        color: white; 
        margin-left: 80px;
        font-size: 25px;
    }
    .aboutus{
        color: aliceblue;
        font-size: 30px;
        margin-left: 30px;
    }
    .aboutusone{
        color: aliceblue;
        font-size: 30px;
    }
    .anchor{
        margin-left: 30px; 
        text-decoration: none; 
        color: rgb(85, 70, 70);
        font-size: 29px;
    }
    .anchors{
        margin-left: ; 
        text-decoration: none; 
        color: rgb(85, 70, 70);
        font-size: 29px;
    }
    .last-part{
            margin-top: -100px;
            width: 50%;
            margin-left: 330px;
    }

}

@media only screen and (min-width: 1000px) {

    .first-images{
        width: 250px;
        margin-left: 29px;
        margin-top: -80px;
    }
    .Headingone{
        font-size: 60px;
    }
    ul li a{
        text-decoration: none;
        font-size: 35px;
        color: bisque;
        padding: 0 20px;
        display: block;
    }
    ul {
        margin-left: 100px;
        margin-top: 20px;
    }
    .container{
        width: 90%;
        margin-left: 40px;
        margin-top: 80px;
        height: 70vh;
    }
    .fill{
        margin-left: 240px;
        margin-top: 40px;
    }
    .fills{
        padding: 20px;
        background-color: antiquewhite;
        font-size: 18px;
        margin-left: -195px;
        background-color: goldenrod;
    }
    .fillse{
        padding: 20px;
        background-color: antiquewhite;
        font-size: 18px;
        border-radius: 10px;
    }
    .words{
        background-color: darkgrey;
        color: black;
        font-size: 30px;
    }
    .up{
        margin-top: -50px;
    }
    .wordsone{
        margin-left: 60px;
        margin-top: 20px;
        font-size: 40px;
    }
    .wordstwo{
        background-color: darkgrey;
        margin-top: -15px;
        margin-left: 20PX;
        width: 80%;
        font-size: 35px;
    }
    .linking{
        margin-left: 450px;
        margin-top: -70px;
        background-color: darkgrey;
        width: 15%;
        padding-top: 30px;
        border-radius: 15px;
        width: 20%;
        height: 19VH;
    }
    .another-link{
        border: 1px solid white;
        border-radius: 10px;
        padding: 11px 13px;
        background-color: gold;
        margin-left: 40px;
        margin-top: -30px;
        width: 5%;
        font-size: 35px;
        text-decoration: none;
        color: white;
    }
    .flash-cards{
        border-radius: 7px;
        height: 50vh;
        width: 90%;
        margin-left: 80px;
    }
    .pngss{
        width: 150px;
        margin-left: 120px;
        margin-top: 10px;
    }
    .pngse{
        width: 150px;
        margin-left: 120px;
        margin-top: 100px;    
    }
    .pngsh{
        width: 150px;
        margin-left: 120px;
        margin-top: 150px;
    }
    .my-images{
        width: 330px;
    }
    .writtings{
        color: white; 
        margin-left: 130px;
        font-size: 40px; 
    
    }
    .happening{
        color:whitesmoke; 
        margin-left: 160px;
        font-size: 30px;margin-top: 80px;
    }
    .groups{
        color: white;
        font-size: 30px;
        margin-left: 450px;
        margin-top: -260px;
        
    }
    .buttontee{
        background-color: gold;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 15px 30px; 
        border-radius: 30px;
        transition: .4s;
        margin: 20%;
        margin-bottom: 50%;
        font-size: 25px;
    }
    .wordstwos{
        background-color: darkgrey;
        margin-top: -15px;
        margin-left: 20PX;
        width: 80%;
        font-size: 35px;
    }
    .linkings{
        margin-left: 450px;
        margin-top: 150px;
        background-color: darkgrey;
        width: 15%;
        padding-top: 30px;
        border-radius: 15px;
        width: 18%;
        height: 16VH;
    }
    .another-links{
        border: 1px solid white;
        border-radius: 10px;
        padding: 11px 13px;
        background-color: gold;
        margin-left: 40px;
        margin-top: -30px;
        width: 5%;
        font-size: 35px;
        text-decoration: none;
        color: white;
    }
    .love{
        color: white;
        font-size: 40px;
        margin-top: 50px;
    }
    .hear{
        color: white;
        font-size: 25px; 
        margin-left: 550px; 
        text-decoration: underline;
    }
    .hears{
        color: white; 
        margin-left: 380px;
        font-size: 25px;
    }
    .aboutus{
        color: aliceblue;
        font-size: 24px;
        margin-left: 190px;
        margin-top: ;
    }
    .aboutusone{
        color: aliceblue;
        font-size: 24px;
        margin-top: 8px;
        margin-left: 200px;
    }
    .anchor{
        margin-left: 190px; 
        text-decoration: none; 
        color: rgb(85, 70, 70);
        font-size: 29px;
    }
    .anchors{
        margin-left: 200px; 
        text-decoration: none; 
        color: rgb(85, 70, 70);
        font-size: 29px;
    }
    .last-part{
            margin-top: -100px;
            width: 50%;
            margin-left: 330px;
    }
}
